<head>
        <meta charset="utf-8">
        <title>Cc</title>
        <base href="/">
      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <!-- ------------home---- -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content="This is social network html5 template available in themeforest......" />
      <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
      <meta name="robots" content="index, follow" />
      <title>College Connection</title>
      
      <script src="/assets/js/uXZ0ounWv2eJEyIgYQ_QyMi0Bs8.js"></script><link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="/assets/css/style.css" />
      <link rel="stylesheet" href="/assets/css/ionicons.min.css" />
      <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
      
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>
      
      <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png" />
      
      
   
      
        <script data-cfasync="false" src="/assets/js/email-decode.min.js"></script><script src="/assets/js/jquery-3.1.1.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/jquery.appear.min.js"></script>
      <script src="/assets/js/jquery.incremental-counter.js"></script>
      <script src="/assets/js/script.js"></script>
      <script data-cfasync="false" src="/assets/js/email-decode.min.js"></script><script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&amp;callback=initMap"></script>
      <script src="/assets/js/jquery-3.1.1.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/script.js"></script>
      
    </head>
<section id="banner">
        <div class="container">
        
        <div class="sign-up-form">
        <a href="index.html" class="logo"><img src="assets/images/33.png" alt="Friend Finder" /></a>
        <h2 class="text-white">Find My Friends</h2>
        <div class="line-divider"></div>
        <div class="form-wrapper">
        <p class="signup-text">Forgot Password</p>
        <form   action="/forgot_password"  method="post"  >
        <fieldset class="form-group">
        <input type="email" class="form-control" id="example-email" name="email" placeholder="Enter email">
        </fieldset>
        
        
        
        <button  class="btn-secondary" type="submit">Forgot Password</button>
      </form>
        </div>
        <a href="signup">you Don't have an account?</a>
        <img class="form-shadow" src="images/bottom-shadow.png" alt="" />
        </div>
        </div>
        </section>